@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

.font-playfair {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.justify-text {
  text-align: left;
}

@media (min-width: 768px) {
  .justify-text {
    text-align: justify;
  }
}