@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500;600;700;800&family=Gilda+Display&family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Inter:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

.font-bodoni {
  font-family: 'Bodoni Moda', serif;
}

.font-gilda {
  font-family: 'Gilda Display', serif;
}


.font-cormorant {
  font-family: 'Cormorant Garamond', serif;
}
.justify-text {
  text-align: left;
}

@media (min-width: 768px) {
  .justify-text {
    text-align: justify;
  }
}